<template name="addFeatureAnnouncements">
	<div class="panel panel-primary">
		<div class="panel-heading"><div class="vsh-nf-pg-title"> Add New Feature Announcements</div></div>
		<div class="panel-body">
		
		<form id="vnm-form">

		<div class="panel panel-default">
		<div class="panel-heading"><b>Product info details</b></div>
		<div class="panel-body">
			<div class="input-group date">
				<span class="input-group-addon" id="basic-addon1">Date</span>
				<input required id="txt-date" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Title</span>
				<input required id="txt-title" class="form-control" placeholder="Enter announcement title" aria-describedby="basic-addon1">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Description</span>
				<textarea required id="txt-description" rows="3" class="form-control" placeholder="Announcement details" aria-describedby="basic-addon1"></textarea>
			</div>
			<br>
				<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">URL</span>
				<input required id="txt-url" class="form-control" placeholder="Enter url" aria-describedby="basic-addon1">
			</div>
		</div>
		</div>

		<div class="panel panel-default">
		<div class="panel-heading">Upload Files</div>
		<div class="panel-body">	
			<div class="upload-jpg">
				<span>Image File</span>
					{{> upload_bootstrap fileTypes='.jpg' multiple=false callbacks=myCallbacksjpg}}
			</div>
		</div>
		</div> <!-- UPLOAD PANEL ENDS HERE -->

		</form>
		<div class="alert alert-success" role="alert" style="display:none;"><strong>Success!!</strong> added new Feature Announcement. </div>
		

		</div><!-- panel body ends here -->
	
	

	</div> <!-- PANEL PRIMARY ENDS HERE -->
	
	<button id="btn-back" class="btn btn-default" style="float:right; margin-left:5px;"> <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back </button>
	<button id="btn-save" class="btn btn-default" style="float:right;"> <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save </button>

</template>