<template name="viewNewsletter">
	
	<div class="panel panel-default">
	<div class="panel-heading">
	<div class="row">
		<div class="col-sm-12">
		<div class="view-title">Newsletter</div>
		<button class="btn btn-default btn-lg" style="float:right;" id="btn-back"><span class="glyphicon glyphicon-arrow-left"></span></button>
		<button class="btn btn-default btn-lg" style="float:right; margin-right:5px;" id="btn-delete"><span class="glyphicon glyphicon-trash"></span></button>
		<button class="btn btn-default btn-lg" style="float:right; margin-right:5px;" id="btn-edit"><span class="glyphicon glyphicon-pencil"></span></button>
		</div>
		{{#if isTopNews}}
			<span class="label label-danger" style="margin-left:5px;">THIS IS TOP NEWS</span>
		{{/if}}
	</div>
	</div>
		{{#if Template.subscriptionsReady}}
		<div id="info-view">
			{{#with newsletterdata}}
			<div class="row">
				<div class="col-sm-3">
					<h5>Date:</h5>
				</div>
				<div class="col-sm-9">
					<p>{{date}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5>Description:</h5>
				</div>
				<div class="col-sm-9">
					<p>{{title}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5>Filename:</h5>
				</div>
				<div class="col-sm-9">
					<p>{{docName}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5>Url:</h5>
				</div>
				<div class="col-sm-9">
					<p>{{url}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5>Image Name:</h5>
				</div>
				<div class="col-sm-9">
					<p>{{imageName}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<h5>Newsletter Category</h5>
				</div>
				<div class="col-sm-9">
					<p>{{category newsletterCategoryId}}</p>
				</div>
			</div>
			{{/with}}
		</div>
		{{/if}}
		<center><button id="btn-top-news" class="btn btn-lg btn-primary" type="button" style="margin-bottom:10px;">Make this TOP NEWS</button></center>
	</div>
</template>